@charset "UTF-8";

table {
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    width: 100%;
}
table a {
    color: white;
}
table td {
    text-align: center;
}
table#produ td {
    text-align: none;
    list-style: none;
}
h4 {
    font-family: Arial, Helvetica, sans-serif ;
    color: red;
}